name: Static checks

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  static-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 20
      - name: Install modules
        run: npm ci
      - name: TypeScript
        run: npm run type:check
      - name: ESLint
        run: npm run lint:check
      - name: Prettier
        run: npm run format:check
